a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightseagreen;
}

.dropdown-menu .dropdown-menu {
    top: auto;
    left: 100%;
    transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
    display: none;
}

.dropdown-item.submenu::after {
    content: '▸';
    margin-left: 0.5rem;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.carousel-indicators [data-bs-target] {
    background-color: orangered;
}

.carousel-control-prev {
    left: -15px;
}

.carousel-control-next {
    right: -15px;
}

.carousel-control-prev-icon {
    background-image: url(/static/img/free-icon-chevron-8642500-left.png)
}

.carousel-control-next-icon {
    background-image: url(/static/img/free-icon-chevron-8642500-right.png)
}


.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
    content: '★';
}

.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
    position: relative;
}

.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini > span:before {
    content: '★';
}

.rating-mini > span.active {
    color: gold;
}