{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <style>
        a:hover {
            text-decoration: none;
            color: lightseagreen;
        }
    </style>
    <!--Bootstrap CSS-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>


<body class="d-flex flex-column min-vh-100" style="background-color: ghostwhite">

<!--Header-->
<header>
    <!--Navbar-->
    {% include 'products_app/navbar.html' %}
</header>

<!--Main-->
<main>
    <div class="container" style="padding-top: 75px;">

        <!--Блок с инфой-->
        <div class="row text-center" style="padding-top: 30px; padding-bottom: 50px;">
            <div class="col-12"
                 style="border-style: groove; border-color: cyan; border-inline: none; padding-top: 20px; padding-bottom: 20px;">
                <div>
                    {% block description %} {% endblock %}
                </div>
            </div>
        </div>

        <!--Context-->
        {% block content %} {% endblock %}

    </div>
</main>

<!--Footer-->
<footer class="bd-footer py-1 mt-5 bg-body-tertiary mt-auto" data-bs-theme="dark">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
        <li class="nav-item"><a href="https://getbootstrap.com/" class="nav-link px-2">bootstrap</a>
        </li>
        <li class="nav-item"><a href="https://www.dns-shop.ru/" class="nav-link px-2">DNS</a></li>
        <li class="nav-item"><a href="https://www.flaticon.com/" class="nav-link px-2">flaticon</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">2023</p>
</footer>

<!--JS-->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>#}
</body>

</html>