{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}
    qwe
{% endblock %}


{% block content %}
    <!--Авторизация-->
    <div class="row">
        <div class="shadow p-3 mb-5 col-3 d-block mx-auto">
            <p class="fs-2 text-center">Авторизация</p>

            <form action="{% url 'users:login' %}" method="post">

                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary d-block mx-auto">Авторизоваться</button>

            </form>

            <hr>
            <p class="fs-4 text-center"><a href="{% url 'users:registration' %}">Регистрация</a></p>
        </div>
    </div>

{% endblock %}
