{% extends 'users_app/base.html' %}
{% load humanize %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}
    <b>Содержимое заказа</b> <br>
    - Отображаются данные заказа (номер, дата, содержимое, сумма, адрес)
{% endblock %}


{% block content %}

    <!--Заказы-->
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">

            <h3 class="my-5">Заказ № {{ order_id }}
                от {{ order_data.created_datetime|date:'d.m.Y' }}
            </h3>

            <table class="table table-hover">
                <thead>
                <tr class="">
                    <th scope="col">Артикул</th>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена за ед.</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>

                <tbody>
                {% for order_item in order_items %}
                    <tr class="table-light">
                        <td>
                            <a href="{% url 'products:product' order_item.product_category_id order_item.product_sku %}">{{ order_item.product_sku }}</a>
                        </td>
                        <td>{{ order_item.product_name }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.price|intword }} ₽</td>
                        <td>{{ order_item.sku_total_price|intword }} ₽</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="col text-end text-primary">
                <h5>
                    Итого: <b>{{ total_price|intword }}</b> ₽
                </h5>
            </div>

            <hr style="padding-bottom: 50px">

            <h3 class="my-5">
                Адрес доставки
            </h3>

            <div class="row justify-content-center">
                <div class="col-4">

                    <table class="table text-start">
                        <tr>
                            <td>Индекс:</td>
                            <td><b>{{ order_data.postcode }}</b></td>
                        </tr>
                        <tr>
                            <td>Город:</td>
                            <td><b>{{ order_data.city }}</b></td>
                        </tr>
                        <tr>
                            <td>Улица:</td>
                            <td><b>{{ order_data.street }}</b></td>
                        </tr>
                        <tr>
                            <td>Дом:</td>
                            <td><b>{{ order_data.building }}</b></td>
                        </tr>
                        <tr>
                            <td>Этаж:</td>
                            <td><b>{{ order_data.floor }}</b></td>
                        </tr>
                        <tr>
                            <td>Квартира:</td>
                            <td><b>{{ order_data.apartment }}</b></td>
                        </tr>

                        {% if order_data.comment %}
                            <tr>
                                <td>Комментарий:</td>
                                <td><b>{{ order_data.comment }}</b></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                <div class="col-4">
                    <table class="table text-start">
                        <tr>
                            <td>Имя:</td>
                            <td><b>{{ order_data.first_name }}</b></td>
                        </tr>
                        <tr>
                            <td>Фамилия:</td>
                            <td><b>{{ order_data.last_name }}</b></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
