{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}

{% endblock %}


{% block content %}
    <!--Профиль/адрес-->
    <div class="row justify-content-center">
        <div class="col-7">

            <!--errors-->
            {% if profile_form.errors or profile_form_address.errors %}
                <div class="alert alert-warning" role="alert">
                    {% if profile_form.errors %}
                        {% for el, error in profile_form.errors.items %}
                            {{ error }}
                        {% endfor %}
                    {% else %}
                        {% for el, error in profile_form_address.errors.items %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Профиль</h3>
            </div>

            <!--Нав-->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-user"
                            type="button" role="tab" aria-controls="nav-user" aria-selected="true">Пользователь
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-address"
                            type="button" role="tab" aria-controls="nav-address" aria-selected="false">Адрес
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <!--Данные пользователя-->
                <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-home-tab"
                     tabindex="0">
                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row" style="padding-top: 30px;">
                            <div class="col-6 mb-3" style="padding-left: 30px;">
                                <label for="{{ profile_form.last_name.id_for_label }}"
                                       class="form-label">Фамилия</label>
                                {{ profile_form.last_name }}
                            </div>
                            <div class="col-6 mb-3" style="padding-right: 30px;">
                                <label for="{{ profile_form.first_name.id_for_label }}"
                                       class="form-label">Имя</label>
                                {{ profile_form.first_name }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3" style="padding-left: 30px;">
                                <label for="{{ profile_form.username.id_for_label }}"
                                       class="form-label">Имя пользователя</label>
                                {{ profile_form.username }}
                            </div>
                            <div class="col-6 mb-3" style="padding-right: 30px;">
                                <label for="{{ profile_form.email.id_for_label }}"
                                       class="form-label disabled">Адрес электронной почты</label>
                                {{ profile_form.email }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 mb-3 text-center">
                                <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static '/img/default_avatar.png' %} {% endif %}"
                                     alt="avatar" style="width: 128px; height: 128px;">
                            </div>
                            <div class="col-9 mb-3" style="padding-left: 30px; padding-right: 30px;">
                                <label for="{{ profile_form.avatar.id_for_label }}" class="form-label">Аватар
                                    (128x128)</label>
                                {{ profile_form.avatar }}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="d-grid gap-2" style="padding: 30px">
                                <input class="btn btn-secondary d-grid" type="submit" value="Изменить данные"
                                       name="user">
                            </div>
                        </div>

                    </form>
                </div>

                <!--Адрес пользователя-->
                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0" style="padding-top: 30px">

                    <form action="{% url 'users:profile' %}" method="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-2 mb-3">
                                <label for="{{ profile_form_address.postcode.id_for_label }}"
                                       class="form-label">Индекс</label>
                                {{ profile_form_address.postcode }}
                            </div>
                            <div class="col-4 mb-3">
                                <label for="{{ profile_form_address.city.id_for_label }}"
                                       class="form-label">Город</label>
                                {{ profile_form_address.city }}
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6 mb-3">
                                <label for="{{ profile_form_address.street.id_for_label }}"
                                       class="form-label">Улица</label>
                                {{ profile_form_address.street }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2 mb-3">
                                <label for="{{ profile_form_address.building.id_for_label }}"
                                       class="form-label">Дом</label>
                                {{ profile_form_address.building }}
                            </div>
                            <div class="col-2 mb-3">
                                <label for="{{ profile_form_address.floor.id_for_label }}"
                                       class="form-label">Этаж</label>
                                {{ profile_form_address.floor }}
                            </div>
                            <div class="col-2 mb-3">
                                <label for="{{ profile_form_address.apartment.id_for_label }}"
                                       class="form-label">Квартира</label>
                                {{ profile_form_address.apartment }}
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="d-grid gap-4" style="padding: 30px">
                                <input class="btn btn-secondary d-grid" type="submit" value="Сохранить адрес"
                                       name="address">
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
