{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}

{% endblock %}


{% block description %}
    Регистрация
{% endblock %}


{% block content %}

    <!--Регистрация-->
    <div class="row justify-content-center mb-5">
        <div class="col-lg-7">

            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Регистрация</h3>
                </div>

                <form action="{% url 'users:registration' %}" method="post">
                    {% csrf_token %}
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="{{ register_form.first_name.id_for_label }}" class="form-label">Имя</label>
                            {{ register_form.first_name }}
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="{{ register_form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                            {{ register_form.last_name }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="{{ register_form.username.id_for_label }}" class="form-label">Имя
                                пользователя</label>
                            {{ register_form.username }}
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="{{ register_form.email.id_for_label }}" class="form-label">Адрес электронной
                                почты</label>
                            {{ register_form.email }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="{{ register_form.password1.id_for_label }}" class="form-label">Пароль</label>
                            {{ register_form.password1 }}
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="{{ register_form.password2.id_for_label }}" class="form-label">Подтверждение
                                пароля</label>
                            {{ register_form.password2 }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-grid gap-2" style="padding: 30px">
                            <input class="btn btn-secondary d-grid" type="submit" value="Создать аккаунт">
                        </div>
                    </div>

                </form>

                <div class="card-footer text-center">
                    <div class="small"><a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться</a></div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
