{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}

{% endblock %}


{% block description %}
    Регистрация
{% endblock %}


{% block content %}

    <!--Регистрация-->
    <div class="row justify-content-center mb-5" style="padding-bottom: 100px">
        <div class="col-lg-7">

            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Регистрация</h3>
                </div>

                <form action="#">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="inputFirstName" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Введите имя">
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="inputLastName" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="inputLastName"
                                   placeholder="Введите фамилию">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="inputUsername" class="form-label">Имя пользователя</label>
                            <input type="text" class="form-control" id="inputUsername"
                                   placeholder="Введите имя пользователя">
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="inputEmailAddress" class="form-label">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="inputEmailAddress"
                                   placeholder="name@yandex.ru">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3" style="padding-left: 30px;">
                            <label for="inputPassword" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword"
                                   placeholder="Введите пароль">
                        </div>
                        <div class="col-6 mb-3" style="padding-right: 30px;">
                            <label for="inputConfirmPassword" class="form-label">Подтверждение пароля</label>
                            <input type="password" class="form-control" id="inputConfirmPassword"
                                   placeholder="Подтвердите пароль">
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-grid gap-2" style="padding: 30px">
                            <input class="btn btn-secondary d-grid" type="submit" value="Создать аккаунт">
                        </div>
                    </div>

                </form>

                <div class="card-footer text-center">
                    <div class="small"><a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться</a></div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
