{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}
    <p>
        Корзина:
        <br>
        - общее кол-во товара, кол-во по одной позиции, сумма по одной позиции, общая сумма
    </p>
{% endblock %}


{% block content %}
    <!--Корзина-->
    <div class="row justify-content-center">
        <div class="col-lg-10">

            {% if not current_basket %}
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Корзина пуста</h3>
                </div>
            {% else %}
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                        Корзина
                        <b style="color: #cb0c00">
                            {{ total_quantity }}
                        </b>
                    </h3>
                </div>

                {% for value in current_basket %}
                    <div class="row text-center border mb-3" style="background-color: white">

                        <div class="col-2">
                            <img src="/media/{{ value.thumbnail }}" alt="pic" style="height: 120px;">
                        </div>

                        <div class="col-1" style="margin: auto;">
                            {{ value.sku }}
                        </div>

                        <div class="col-5" style="margin: auto;">
                            {{ value.name }}
                        </div>

                        <div class="col-1" style="margin: auto">
                            {{ value.price }}
                        </div>

                        <div class="col-1" style="margin: auto;">
                            <div class="row">
                                {% if value.basket_quantity < value.quantity %}
                                    <a href="{% url 'basket:basket_update' value.sku 'incr' %}" class="btn">▲</a>
                                {% else %}
                                    <a href="#" class="btn" style="color: lightgrey">▲</a>
                                {% endif %}
                            </div>
                            <div class="row">
                                <span>
                                    {{ value.basket_quantity }}
                                </span>
                            </div>
                            <div class="row">
                                {% if value.basket_quantity > 1 %}
                                    <a href="{% url 'basket:basket_update' value.sku 'decr' %}" class="btn">▼</a>
                                {% else %}
                                    <a href="#" class="btn" style="color: lightgrey">▼</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-2" style="margin: auto;">
                            {{ value.product_sum }} руб.
                            <br>
                            <a href="{% url 'basket:basket_remove' value.sku %}" class="link-info">Удалить</a>
                        </div>
                    </div>
                {% endfor %}

                <hr style="color: darkslategrey;">

                <div class="row text-center mb-3">
                    <div class="col-9"></div>
                    <div class="col-1">
                        <h5>
                            Сумма:
                        </h5>
                    </div>
                    <div class="col-2">
                        <h5>
                            {{ total_sum }} руб.
                        </h5>
                    </div>
                </div>
                <div class="row text-center mb-3">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <a href="{% url 'basket:order_confirmation' %}" type="button" class="btn btn-success col-12">Оформить
                            заказ</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
