{% extends 'users_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}

{% endblock %}


{% block content %}
    <!--Корзина-->
    <div class="row">
        <div class="col-5">
            <h3 class="text-center font-weight-light my-4">
                Заказ
            </h3>

            <ul class="list-group">
                {% for value in current_basket %}
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-2" style="width: 90%">
                                {{ value.name }}
                            </h6>
                            <small class="text-muted text-center">
                                {{ value.price }} руб. |
                                {{ value.basket_quantity }} шт.
                            </small>
                        </div>
                        <span class="text-muted text-center">
                            {{ value.product_sum }}
                            <br>руб.
                        </span>
                    </li>
                {% endfor %}

                <hr>

                <li class="list-group-item d-flex justify-content-between">
                    <h5 class="text-danger">
                        Сумма заказа:
                    </h5>
                    <h5>
                        {{ total_sum }} руб.
                    </h5>
                </li>

            </ul>

        </div>

        <div class="col-1"></div>

        <div class="col-6">

            <h3 class="text-center font-weight-light my-4">
                Адрес доставки
            </h3>


            <form action="{% url 'basket:order_confirmation' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="{{ current_user_form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                        {{ current_user_form.last_name }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="{{ current_user_form.first_name.id_for_label }}" class="form-label">Имя</label>
                        {{ current_user_form.first_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 mb-3">
                        <label for="{{ current_user_address_form.postcode.id_for_label }}"
                               class="form-label">Индекс</label>
                        {{ current_user_address_form.postcode }}
                    </div>
                    <div class="col-4 mb-3">
                        <label for="{{ current_user_address_form.city.id_for_label }}" class="form-label">Город</label>
                        {{ current_user_address_form.city }}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="{{ current_user_address_form.street.id_for_label }}"
                               class="form-label">Улица</label>
                        {{ current_user_address_form.street }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="id_comment" class="form-label">Комментарий</label>
                        <input type="text" class="form-control" id="id_comment" placeholder="Комментарий"
                               name="comment">
                    </div>
                    <div class="col-2 mb-3">
                        <label for="{{ current_user_address_form.building.id_for_label }}"
                               class="form-label">Дом</label>
                        {{ current_user_address_form.building }}
                    </div>
                    <div class="col-2 mb-3">
                        <label for="{{ current_user_address_form.floor.id_for_label }}" class="form-label">Этаж</label>
                        {{ current_user_address_form.floor }}
                    </div>
                    <div class="col-2 mb-3">
                        <label for="{{ current_user_address_form.apartment.id_for_label }}"
                               class="form-label">Квартира</label>
                        {{ current_user_address_form.apartment }}
                    </div>

                    <!--total_quantity, total_sum-->
                    <div class="col-6 mb-3">
                        <label for="id_total_quantity" class="form-label"></label>
                        <input type="text" class="form-control" id="id_total_quantity" name="total_quantity"
                               value="{{ total_quantity }}" hidden>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="id_total_sum" class="form-label"></label>
                        <input type="text" class="form-control" id="id_total_sum" name="total_sum"
                               value="{{ total_sum }}" hidden>
                    </div>
                </div>

                <hr class="my-4">

                <div class="row">
                    <div class="d-grid gap-4" style="padding: 30px">
                        <input class="btn btn-secondary d-grid" type="submit" value="Подтвердить заказ">
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}
