{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!--Bootstrap CSS-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>


<body class="d-flex flex-column min-vh-100" style="background-color: ghostwhite">

<!--Header-->
<header>
    <!--Navbar-->
    {% include 'products_app/navbar.html' %}
</header>

<!--Main-->
<main>
    <div class="container" style="padding-top: 75px; padding-bottom: 100px">

        <!--Блок с инфой-->
        <div class="row text-center" style="padding-top: 30px; padding-bottom: 50px;">
            <div class="col-12"
                 style="border-style: groove; border-color: cyan; border-inline: none; padding-top: 20px; padding-bottom: 20px;">
                <div>
                    {% block description %} {% endblock %}
                </div>
            </div>
        </div>
        <!--Сообщения-->
        {% if messages or form.non_field_errors %}
            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} fade show"
                 role="alert"
                 style="text-align: center">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }} <a href="{% url 'basket:basket' %}">корзину</a>
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>
        {% endif %}
        <!--Context-->
        <div class="row">
            <!--Категории-->
            <div class="col-3">

                <h3>Категории</h3>
                <div class="btn-group-vertical shadow p-2" role="group" aria-label="Vertical button group"
                     style="margin-top: 25px; border-style: groove; border-width: 1px; border-radius: 5px; border-color: darkgrey">
                    {% for category in categories %}
                        <div class="btn-group" role="group">
                            <a href="{% url 'products:catalog_category' category.id %}">
                                <button type="button" class="btn btn-light" style="width: 12rem">
                                    {{ category.category_name }}
                                </button>
                            </a>
                            <button type="button" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>

                            <!--Процессоры-->
                            {% if category.category_name == 'Процессоры' %}
                                <ul class="dropdown-menu">
                                    {% if cpus %}
                                        {% for brand in cpu_brands %}
                                            <a class="dropdown-item submenu"
                                               href="{% url 'products:catalog_category_brand' category.id brand.brand_name %}">{{ brand.brand_name }}</a>
                                            <div class="dropdown-menu">
                                                {% for cpu in cpus %}
                                                    {% if cpu.cpu_brand == brand %}
                                                        <a class="dropdown-item"
                                                           href="{% url 'products:catalog_category_brand_line' category.id brand.brand_name cpu.line_name %}">{{ cpu.line_name }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </ul>

                                <!--Видеокарты-->
                            {% elif category.category_name == 'Видеокарты' %}
                                <ul class="dropdown-menu">
                                    {% if gpus %}
                                        {% for manuf, models in gpus.items %}
                                            <a class="dropdown-item submenu"
                                               href="{% url 'products:catalog_category_brand' category.id manuf %}">{{ manuf }}</a>
                                            <div class="dropdown-menu">
                                                {% for model in models %}
                                                    <a class="dropdown-item"
                                                       href="{% url 'products:catalog_category_brand_line' category.id manuf model %}">{{ model }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </ul>

                                <!--Материнские платы-->
                            {% elif category.category_name == 'Материнские платы' %}
                                <ul class="dropdown-menu">
                                    {% if cpus %}
                                        {% for manuf, mbs in mbs.items %}
                                            <a class="dropdown-item submenu"
                                               href="{% url 'products:catalog_category_brand' category.id manuf %}">{{ manuf }}</a>
                                            <div class="dropdown-menu">
                                                {% for mb in mbs %}
                                                    <a href="{% url 'products:catalog_category_brand_line' category.id manuf mb %}"
                                                       class="dropdown-item">{{ mb }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </ul>

                                <!--Оперативная память-->
                            {% elif category.category_name == 'Оперативная память' %}
                                <ul class="dropdown-menu">
                                    {% if cpus %}
                                        {% for ram in rams %}
                                            <a href="{% url 'products:catalog_category_brand' category.id ram %}"
                                               class="dropdown-item">{{ ram }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            {% endif %}

                        </div>
                    {% endfor %}

                </div>
            </div>

            <!--Товары-->
            {% block content %} {% endblock %}
        </div>
    </div>
</main>

<!--Footer-->
<footer class="bd-footer py-1 mt-5 bg-body-tertiary mt-auto" data-bs-theme="dark">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
        <li class="nav-item"><a href="https://getbootstrap.com/" class="nav-link px-2">bootstrap</a>
        </li>
        <li class="nav-item"><a href="https://www.dns-shop.ru/" class="nav-link px-2">DNS</a></li>
        <li class="nav-item"><a href="https://www.flaticon.com/" class="nav-link px-2">flaticon</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">2023</p>
</footer>

<!--JS-->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>#}
</body>

</html>