{% extends 'products_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block description %}
    Каталог
    <br>
    Выводит список элементов из таблиц (по категориям, брендам, моделям)
{% endblock %}


{% block content %}
    <div class="col-9">
        <h3>Товары

            {% for key, crumb in breadcrumb.items %}
                {% if crumb %}
                    >
                    {% if key == 'category_name' %}
                        <a href="{% url 'products:catalog_category' all_products.0.category.id %}">{{ crumb }}</a>
                    {% elif key == 'brand_name' %}
                        <a href="{% url 'products:catalog_category_brand' all_products.0.category.id breadcrumb.brand_name %}">{{ crumb }}</a>
                    {% elif key == 'line_name' %}
                        <a href="{% url 'products:catalog_category_brand_line' all_products.0.category.id breadcrumb.brand_name breadcrumb.line_name %}">{{ crumb }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </h3>

        <!--Горизонтальная карточка товара-->
        {% if messages or form.non_field_errors %}
            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show"
                 role="alert"
                 style="margin-top: 50px; text-align: center">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
                {% endif %}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% for product in all_products %}
            <div class="row" style="padding-top: 20px;">
                <div class="card mb-2"
                     style="--bs-card-spacer-x: 50px">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <a href="{% url 'products:product' product.category.id product.sku %}">
                                <img src="{{ product.thumbnail.url }}" class="img-fluid rounded mx-auto d-block"
                                     style="max-width: 90%; padding-top: 5px; padding-bottom: 5px"
                                     alt="{{ product.name }}">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'products:product' product.category.id product.sku %}"
                                       style="text-decoration: none; ">{{ product.name }}</a>
                                </h5>
                                <p class="card-text">{{ product.short_description }}</p>
                                <p class="card-text"><small class="text-body-secondary"></small>
                                </p>
                                <hr>
                                <div class="row text-center">
                                    <div class="col-7 fs-3">
                                        Цена: {{ product.price }}
                                    </div>
                                    <div class="col-5">
                                        {% if product.quantity > 0 %}
                                            {% if product.sku in skus %}
                                                <a href="{% url 'basket:basket' %}"
                                                   class="btn btn-secondary d-block mx-auto">В корзине
                                                </a>
                                            {% else %}
                                                <a href="{% url 'basket:basket_add' product_sku=product.sku category_id=product.category.id %}"
                                                   class="btn btn-primary d-block mx-auto">Добавить в корзину
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <button class="btn btn-dark" disabled>Нет в наличии</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!--Пагинация-->
        <div class="row" style="padding-top: 50px">
            <div class="col" style="padding-bottom: 100px">

                {% if all_products.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="{% if all_products.has_previous %} page-item {% else %} disabled {% endif %}">
                                <a class="page-link" style=""
                                   href="{% if all_products.has_previous %} ?page={{ all_products.previous_page_number }} {% else %} # {% endif %}"
                                   tabindex="-1" aria-disabled="true">
                                    Предыдущая
                                </a>
                            </li>

                            {% for page in all_products.paginator.page_range %}
                                <li class="page-item {% if page == all_products.number %} disabled {% endif %}">
                                    <a class="page-link" href="?page={{ page }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}

                            <li class=" {% if all_products.has_next %} page-item {% else %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if all_products.has_next %} ?page={{ all_products.next_page_number }} {% else %} # {% endif %}">
                                    Следующая
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
