{% extends 'products_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


<!--Блок с инфой-->
{% block description %}
    <p>
        Главная страница <br>
        Расширяет base
        Выводятся 8 рандомных товаров из БД (по 2 из каждой категории)
    </p>
{% endblock %}


{% block content %}
    <div class="col-9">
        <h3>Товары</h3>

        <div class="row" style="padding-top: 20px;">
            {% for product in random_products %}
                <div class="card" style="width: 13rem; margin-right: 30px; margin-bottom: 30px;">
                    <a href="{% url 'products:product' product.category.id product.sku %}">
                        <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.name }}"
                             style="margin-top: 20px">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title"><a href="{% url 'products:product' product.category.id product.sku %}"
                                                  style="text-decoration: none">{{ product.name }}</a></h6>
                        <p class="card-text text-sm">{{ product.short_description }}</p>
                    </div>
                    <h5 class="card-title text-center">{{ product.price }} руб.</h5>
                    <a href="#" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px">
                        В корзину
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
