{% extends 'products_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


<!--Блок с инфой-->
{% block description %}
    <p>
        <b>Главная страница</b><br>
        - Выводятся 8 рандомных товаров из БД (по 2 из каждой категории)<br>
        - Кэш на 30 секунд
    </p>
{% endblock %}


{% block content %}
    <div class="col-9">
        <h3>Товары</h3>

        <div class="row" style="padding-top: 20px;">
            {% for product in random_products %}
                <div class="card" style="width: 13rem; margin-right: 30px; margin-bottom: 30px;">
                    {% if product.avg_rating %}
                        <span class="position-absolute top-1 start-100 translate-middle badge border border-end rounded-bottom-circle bg-secondary p-2">
                            ★ {{ product.avg_rating }}
                        </span>
                    {% endif %}

                    <a href="{% url 'products:product' product.category.id product.sku %}">
                        <img src="{% if product.thumbnail_exists %} {{ product.thumbnail.url }} {% else %} {% static 'img/no-photos.png' %} {% endif %}"
                             class="card-img-top" alt="{{ product.name }}"
                             style="margin-top: 20px">
                    </a>

                    <div class="card-body">
                        <h6 class="card-title"><a href="{% url 'products:product' product.category.id product.sku %}"
                                                  style="text-decoration: none">{{ product.name }}</a></h6>
                        <p class="card-text text-sm">{{ product.short_description }}</p>
                    </div>

                    <h5 class="card-title text-center">
                        {{ product.price }}
                    </h5>

                    {% if product.quantity > 0 %}
                        {% if product.sku in skus %}
                            <a href="{% url 'basket:basket' %}"
                               class="btn btn-secondary d-block mx-auto" style="margin-top: 20px; margin-bottom: 20px">
                                В корзине
                            </a>
                        {% else %}
                            <a href="{% url 'basket:basket_add' product_sku=product.sku category_id=product.category.id product_price=product.price %}"
                               class="btn btn-primary d-block mx-auto" style="margin-top: 20px; margin-bottom: 20px">
                                Добавить в корзину
                            </a>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-dark" style="margin-top: 20px; margin-bottom: 20px" disabled>
                            Нет в наличии
                        </button>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
