{% load static %}


<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}">e-Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--'me-auto' к левому краю, 'ms-auto' к правому-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--Каталог-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:catalog' %}">Каталог</a>
                </li>
            </ul>

            <!--Поиск-->
            <form action="{% url 'products:search' %}" class="d-flex" role="search" method="get">
                <input class="form-control me-2" name="q" type="text" aria-label="Search" minlength="2" required>
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--Логин/регистрация-->
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Вход/Регистрация</a>
                    </li>
                {% else %}
                    <!--Профиль-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static 'img/default_avatar.png' %}
                            {% endif %}" alt="avatar"
                                 style="width: 2rem; height: 2rem; border-style: groove; border-width: 1px; border-color: grey">
                            {% if user.is_superuser %}
                                {{ user.username }} (admin)
                            {% else %}
                                {{ user.username }}
                                {% if request.session.basket %}
                                    <img src="{% static 'img/bubble-red-png.png' %}" alt="red-dot" style="height: 7px">
                                {% endif %}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'basket:basket' %}">
                                    {% if request.session.basket %}
                                        <img src="{% static 'img/bubble-red-png.png' %}" alt="red-dot-basket"
                                             style="height: 5px">
                                    {% endif %}
                                    Корзина
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'users:orders' %}">Заказы</a></li>
                            {% if user.is_superuser %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админка</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>