{% extends 'products_app/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}

{% block description %}
    йцу
{% endblock %}

{% block content %}
    <div class="col-9">
        <h3>Товары >
            <a href="{% url 'products:catalog_category' current_product.category.id %}">{{ current_product.category.category_name }}</a>
            >
            {% if current_product.category_id == 1 %}
                <a href="{% url 'products:catalog_category_brand' current_product.category.id current_product.brand %}">{{ current_product.brand }}</a>
                >
                <a href="{% url 'products:catalog_category_brand_line' current_product.category.id current_product.brand current_product.line %}">{{ current_product.line }}</a>
            {% elif current_product.category_id == 2 %}
                <a href="{% url 'products:catalog_category_brand' current_product.category.id current_product.gpu.gpu_brand %}">{{ current_product.gpu.gpu_brand }}</a>
                >
                <a href="{% url 'products:catalog_category_brand_line' current_product.category.id current_product.gpu.gpu_brand current_product.gpu.gpu_name %}">{{ current_product.gpu.gpu_name }}</a>
            {% elif current_product.category_id == 3 %}
                <a href="{% url 'products:catalog_category_brand' current_product.category.id current_product.socket.brand_name %}">{{ current_product.socket.brand_name }}</a>
                >
                <a href="{% url 'products:catalog_category_brand_line' current_product.category.id current_product.socket.brand_name current_product.socket.socket_name %}">{{ current_product.socket.socket_name }}</a>
            {% elif current_product.category_id == 4 %}
                <a href="{% url 'products:catalog_category_brand' current_product.category.id current_product.type.type_name %}">{{ current_product.type.type_name }}</a>
            {% endif %}
        </h3>

        <div class="row" style="padding-top: 25px;">

            <!--Изображение товара-->
            <div class="col-8"
                 style="border-style: solid; border-width: 1px; border-color: #0dcaf0; background-color: white;">
                <!--Карусель-->
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="0"
                                class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        {% for product_image in product_images %}
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="{{ product_image.carousel_id }}"
                                    aria-label="Slide {{ product_image.carousel_id }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ current_product.thumbnail.url }}" class="d-block mx-auto"
                                 alt="{{ current_product.id }}">
                        </div>
                        {% for product_image in product_images %}
                            <div class="carousel-item">
                                <img src="{{ product_image.image.url }}" class="d-block mx-auto"
                                     alt="{{ product_image.carousel_id }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <!--Блок с ценой-->
            <div class="col-4">
                <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                    <p class="text-center" style="font-size: large">
                        <b>
                            {{ current_product.name }}
                        </b>
                    <p class="text-center">
                        В наличии: {{ current_product.quantity }}
                    </p>
                    <hr>
                    <p class="text-center">
                        {{ current_product.short_description }}
                    </p>
                    <hr>
                    <p class="fs-5 text-center">Цена</p>
                    <p class="fs-4 fw-semibold text-center">{{ current_product.price }} руб.</p>

                    {% if current_product.quantity > 0 %}
                        {% if in_basket %}
                            <a href="{% url 'basket:basket' %}" class="btn btn-secondary d-block mx-auto">В корзине
                            </a>
                        {% else %}
                            <a href="{% url 'basket:basket_add' product_sku=current_product.sku category_id=current_product.category.id product_price=current_product.price %}"
                               class="btn btn-primary d-block mx-auto">Добавить в корзину
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="#" class="btn btn-secondary d-block mx-auto disabled">Нет в наличии
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">

            <!--Описание / xарактеристики товара / отзывы-->
            <div class="col" style="padding-top: 50px; min-height: 500px;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home"
                                type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            Описание
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                            Характеристики
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            Отзывы
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                         tabindex="0">
                        <div style="padding-top: 15px;">
                            {{ current_product.description|linebreaks }}
                            <hr>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                         tabindex="0">
                        {% include 'products_app/characteristics_table.html' %}
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                         tabindex="0">
                        <div>
                            <p>
                                Отзывы
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab"
                         tabindex="0">...
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
